# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
.venv/

# local runtime / artifacts
*.db
*.db-*
*.sqlite*
*.sqlite3
*.log

# uvicorn / temp
*.pid

# secrets
.env
.env.*
*.key
*.pem

# never commit ssh
.ssh/
